* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #018DED url(img/danmark.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#clock {
    width: 25rem;
    height: 25rem;
    border: rgba(75, 74, 74, 0.329) solid .1rem;
    box-shadow: #838383b7 0 0 1rem;
    background-color: #01050833;
    border-radius: 50%;
    
}

.wall-clock {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.time {
    width: 60%;
    height: .25rem;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    transform-origin: 84%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function:  cubic-bezier(0.1, 2.7, 0, -0.04);
}

.hour-clock {
    height: .35rem;
    width: 50%;
    transform-origin: 100%;
}

.second-clock {
    height: .1rem;
    background-color: rgb(185, 23, 23);
    z-index: -1;
}


@media screen and (max-width: 992px) {
    #clock {
        width: 20rem;
        height: 20rem;
        border: rgba(75, 74, 74, 0.329) solid .08rem;
        box-shadow: #838383b7 0 0 .8rem;
    }

    .time {
        height: .2rem;
    }

    .hour-clock {
        height: .3rem;
    }

    .second-clock {
        height: .08rem;
    }
}

@media screen and (max-width: 758px) {
    #clock {
        width: 15rem;
        height: 15rem;
        border: rgba(75, 74, 74, 0.329) solid .07rem;
        box-shadow: #838383b7 0 0 .7rem;
    }

    .time {
        height: .15rem;
    }

    .hour-clock {
        height: .25rem;
    }

    .second-clock {
        height: .06rem;
    }
}

@media screen and (max-width: 350px) {
    #clock {
        width: 10rem;
        height: 10rem;
        border: rgba(75, 74, 74, 0.329) solid .05rem;
        box-shadow: #838383b7 0 0 .5rem;
    }

    .time {
        height: .1rem;
    }

    .hour-clock {
        height: .18rem;
    }

    .second-clock {
        height: .04rem;
    }

}